.button-add-todo {
	margin-left: 50px;
	width: 40px;
  height: 40px;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8E49E8;
  cursor: pointer;
  border-radius: 3px;
  /* opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease; */
}

.button-add-todo:hover{
  background: #721ce3;
}

.form-control {
	
}
