.ul-list li {
	text-align: left;
	position: relative;
  list-style: none;
  height: auto;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
	user-select: none;
}

.ul-list {
	list-style: none;
	padding: 0;
}

.important {
	font-weight: bold;
}

.complete {
	text-decoration: line-through;
}

.fa-times {
	font-size: 25px;
	position: absolute;
	right: -20px;
	bottom: 9px; 
	color: rgb(206, 206, 206)
}

li:hover .fa-times {
	right: 9px;
	cursor: pointer;
}

li:hover .fa-exclamation {
	right: 35px;
	cursor: pointer;
}

#to-do-item:hover {
	box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
	cursor: pointer;
	right: 3px;
}

.fa-exclamation {
	font-size: 21px;
	position: absolute;
	right: -10px;
	bottom: 11px;
	color: rgb(206, 206, 206)
}

.fa-exclamation:hover {	
	cursor: pointer;
	color: rgb(155, 155, 155)
} 

.fa-times:hover  {
	cursor: pointer;
	color: rgb(155, 155, 155)
}