.ul-list li {
	text-align: left;
	position: relative;
  list-style: none;
  height: auto;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
	/* transition: all 5s; */
	/* animation: myAnimation 2s infinite ease-in-out; */

}
.ul-list:last-child{
	/* margin-bottom: -5px; */
}

/* @keyframes myAnimation{
0%{
    opacity: 1;
    transform: rotateX(90deg);
}
50%{
    opacity: 0.5;
    transform: rotateX(0deg);
}
100%{
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
}
} */




.ul-list {
	list-style: none;
	padding: 0;
}

.important {
	/* text-decoration: line-through; */
	font-weight: bold;
	
}

.complete {
	/* font-weight: bold; */
	text-decoration: line-through;
}

/* .ul-list li:before {
	content: "\f12a"
} */

.fa-times {
	/* display: none; */
	
	font-size: 25px;
	position: absolute;
	 right: -20px;
	bottom: 9px; 
	color: rgb(206, 206, 206)
}

/* .li .fa-times:hover {
	right: 30px;
} */

li:hover .fa-times {
	right: 9px;
	cursor: pointer;
	/* box-shadow:  2px 2px 2px rgba(0,0,0,0.2); */
	/* color: rgb(155, 155, 155) */
}

li:hover .fa-exclamation {
	right: 33px;
	cursor: pointer;
	
	/* box-shadow:  2px 2px 2px rgba(0,0,0,0.2); */
	/* color: rgb(155, 155, 155) */
}

#item-id:hover {
	box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
	cursor: pointer;
	right: 3px;
}

.fa-exclamation {
	font-size: 21px;
	position: absolute;
	right: -10px;
	bottom: 11px;
	color: rgb(206, 206, 206)
}

.fa-exclamation:hover {	
	cursor: pointer;
	color: rgb(155, 155, 155)
} 

.fa-times:hover  {
	cursor: pointer;
	color: rgb(155, 155, 155)
}